.confirm {
  display: none;

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  animation: confirm-open 0.2s forwards;
}

.confirm .container {
  max-width: 500px;
  width: calc(100% - 32px);
  transform: translate(-50%, -50%);
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  margin: 0 16px;

  position: absolute;
  top: 50%;
  left: calc(50% - 16px);
}

.confirm .exit {
  background-color: #242424;
  color: #fff;
  font-size: 24px;
  border-bottom: 1px solid;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#exit {
  cursor: pointer;
}

#exit:hover {
  color: #dc3545;
}

#exit:active {
  color: #dc3545;
}

.confirm .brand {
  font-size: 16px;
  font-weight: 500;
}

.confirm .title {
  font-size: 16px;
  padding: 24px;
}

.confirm .btn-container {
  padding: 16px 24px;
  background-color: rgba(0, 0, 0, 0.08);

  display: flex;
  justify-content: end;
}

.btnYes,
.btnNo {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 0.5em 2em;
  border-radius: 5px;
}

.btnYes {
  margin-right: 20px;
  background-color: #329e5e;
}

.btnYes:hover {
  background-color: #198544;
}

.btnYes:active {
  background-color: #198544;
}

.btnNo {
  background-color: #dc3545;
}

.btnNo:hover {
  background-color: #bd2433;
}

.btnNo:active {
  background-color: #bd2433;
}

@keyframes confirm-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
