* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    /* border: 1px solid red !important; */
}

.input-book {
    display: flex;

    width: 100vw;
    height: 100vh;
}

.input-img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: .3;

    background-image: url(../img/img-input.jpg);
    background-size: cover;
    background-position: -300px 0;
}

.input-img-content h1 {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 5px rgba(0,0,0,.3), 0 0 20px #000;
}

.input-section {
    flex-grow: 1.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book {
    flex-basis: 80%;
}

.add-book h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}

.text-shadow {
    text-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.add-book .input {
    display: block;
    width: 100%;
    border: 1px solid rgb(235, 235, 235);

    padding: 14px 20px;
    border-radius: 5px;
    outline-color: rgb(50, 158, 94, .3);
    margin-bottom: 20px;
}

.add-book label {
    display: inline-block;
    font-weight: bold;
}

.mb-10 {
    margin-bottom: 10px;
}

.add-book .container-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 40px;

    margin-top: 40px;
}

.checkbox-container {
    display: flex;
}

.checkbox-container label {
    line-height: 1.5;
}

.selesai-dibaca {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.btn-container {
    flex-basis: 300px;
    display: flex;
    justify-content: center;
}

.add-book .btn {
    max-width: 150px;
    width: 100%;
    padding: 12px 10px;
    box-sizing: content-box;
    border-radius: 5px;
    font-weight: bold;
}

.submit {
    margin-right: 25px;
    background-color: #329e5e;
    border: none;
    color: #fff;
}

.submit:hover {
    background-color: #198544;
}

.reset {
    background-color: #fff;
    color: #999999;
    border: 1px solid rgb(235, 235, 235);
}

.reset:hover {
    background-color: #329e5e;
    color: #fff;
}

@media (max-width: 1024px) {
    .input-img-content {
        display: none;
    }
}

@media (max-width: 700px) {
    .btn-container {
        flex-basis: 100%;
        justify-content: space-between;
    }
}